<?php

use FriendsOfTwig\Twigcs\TemplateResolver\FileResolver;
use FriendsOfTwig\Twigcs\TemplateResolver\NamespacedResolver;

$finder = FriendsOfTwig\Twigcs\Finder\TemplateFinder::create()
    ->in(__DIR__)
;

return \FriendsOfTwig\Twigcs\Config\Config::create()
    ->setFinder($finder)
    ->setTemplateResolver(new NamespacedResolver([
        'a' => new FileResolver(__DIR__.'/a'),
        'b' => new FileResolver(__DIR__.'/b'),
    ]))
    ->setSeverity('warning')
    ->setReporter('console')
    ->setName('my-config')
    ->setRuleSet(FriendsOfTwig\Twigcs\Ruleset\Official::class)
;
