<?php

use FriendsOfTwig\Twigcs;

return Twigcs\Config\Config::create()
    ->setSeverity('warning')
    ->setReporter('json')
    ->setName('my-config')
    ->setSpecificRuleSets([
        '*/a.html.twig' => Twigcs\Tests\data\config\local\CustomRuleset::class,
    ])
;
