name: CI Tests
on:
  release:
    types: [opened, reopened]
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ ubuntu-latest, macos-latest ]
        php-versions: [ '7.4', '8.0', '8.1' ]
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Install dependencies
        run: composer -n install

      - name: Launch test
        run: bin/phpunit
